.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputGroup label {
  font-weight: 500;
}

.footerText {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 0.9rem;
}

.footerText a {
  color: var(--primary-color);
  font-weight: 500;
  text-decoration: none;
}

.footerText a:hover {
  text-decoration: underline;
}
