.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 600px;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputGroup label {
  font-weight: 500;
}

.errorText {
  color: var(--danger-color);
  font-size: 0.8rem;
  min-height: 1rem;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}